.container-app-drawer {
  display: flex;
}

.navbar-app-drawer {
  /* border: 2px solid red; */
  min-height: 100vh;
  width: 4rem;
}

.nav-bar-icon {
  width: 1.5rem;
}

.bars {
  width: 30px;
  height: 30px;
}

p {
  text-decoration: none;
  color: black;
}

.is-open {
  width: 15rem;
}

a {
  display: flex;
}

.is-open-icon {
  width: 1.5rem;
  height: 1rem;
  margin-top: 0.3rem;
}
